
.wrap {
  padding-left: 1.4em;
  padding-right: 1.4em;
}
/* Alert Box CSS */

/* Base Alert Style */
.alert {
    display: flex;
    justify-content: center;
    padding: 1em 1.8em;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background: transparent;
  border-radius: 5px;
  width: 100%;
    color: white;
}

/* Success */ 
.alert-success { 
  background: #2ecc71; 
  border: 1px solid #27ae60; 
}

/* Radius */
.radius {
}

